@charset "utf-8";
/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #fff;font-family:"微软雅黑", Arial, Helvetica, sans-serif;font-size:14px;background:#011c05;text-align:left;position:relative;line-height:20px;min-width:1000px;}
img {border: 0;position:relative;}
.clear {height:0px;line-height:0px;font-size:0px;clear:both;visibility:hidden;overflow:hidden;padding:0;margin:0;}
div,
ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6 { margin:0px;padding:0px;list-style:none;list-style-type: none; word-wrap:break-word;position:relative; border:none;font-weight:400;}
a {color:#fff;text-decoration:none;position:relative;cursor:pointer;}
header, footer, nav, section, article, menu, aside {display:block;position:relative;} 
textarea { resize:none;font-family:"微软雅黑";font-size:14px;}
table { border-collapse:collapse;border-spacing:0;}
th , td { text-align:left;}
input {font-family:"微软雅黑";font-size:12px;}
input:focus {outline:none;}
input.sub {cursor:pointer; background:none; border:none;}
input.text {background:none; border:none;}
/* common main */
.clear{ clear: both; }
.trans{ transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; -moz-transition: all 0.5s; }
.main{ width: 1000px; margin:0 auto; }
.cyellow{ color: #fffc1a; }
.fl{ float: left; }
.fr{ float: right; }

.head{ position: relative; z-index: 2; height:114px; background: #000; }
.head .main{ position: relative; height: 114px; }
.hleft{ width: 114px; height: 76px; padding-top: 6px; border:1px solid #013509; position: relative; top: 16px; padding-left: 88px; margin-left: 20px; background: url(../images/bg_line.png) no-repeat left 70px top 14px; line-height: 24px; }
.hlefttit{ position: absolute; left:40px; top:13px; width: 16px; color: #15d807; line-height: 14px; }
.hleft a{ color: #fffc1a; }
.hlogo{ position: absolute; left: 250px; top: 20px; z-index: 2; }
.hlogo a{ display: block; }
.hright{ width: 309px;top: 28px; height: 58px; overflow: hidden; }
.hright a{ position: relative; display: block; width: 33.333%; float: left; height: 27px; margin-bottom: 4px; line-height: 27px; text-align: center; }
.hright a i{ position: absolute; right: 0; top:8px; height: 11px; width: 1px; background: #333333; }
.hright a:hover i{ display: none; }
.hright a:hover{ background: url(../images/bg_buth.png) no-repeat center; }
.hfloatsj{ position: absolute; left:50%; margin-left:-170px; top: 114px; width: 340px; height: 84px; background: url(../images/bg_sj.png) no-repeat center; }
.banner{ height: 427px; }
.banner{ display: block; position: relative; width: 100%; height: 497px; overflow: hidden; }
.banner a{ position:absolute; width: 100%; height: 427px; left: 0; top: 0; }
.banner a:hover{ transform: scale(1.05); -webkit-transform: scale(1.02); -o-transform: scale(1.05); -moz-transform: scale(1.05); }
.bannerfloat{ position: absolute; z-index: 2; left: 0;bottom:0; width:100%; height: 167px; background: url(../images/bg_qk.png) no-repeat center bottom;  }
.notice{ height: 47px; line-height: 47px; background: url(../images/notice_bg.png) no-repeat center; }
.noticewrap{ padding-left: 130px; background: url(../images/t_notice.png) no-repeat left center; }
.noticebox{ position: relative; height: 47px; overflow: hidden; }
.noticescroll{ position: absolute; left: 0; top: 0; width: 30000%; height: 47px; line-height: 46px; }
.inlev1search{ width: 794px; height: 62px; padding-top: 22px; background: url(../images/bg_search.png) no-repeat center; margin:0 auto; margin-top: 24px; }
.ilev1s_tit{ width: 190px; text-align: right; font-size: 28px; color: #fffd1f; line-height: 44px; }
.ilev1s_text{ display: block; height: 38px; border:1px solid #043f0c; margin:0; padding:0 18px; width: 387px; background: #022807; margin-left: 14px; color: #00ff1f; }
::-webkit-input-placeholder {color:#0c981d;}
:-moz-placeholder { color:#0c981d;}
::-moz-placeholder { color:#0c981d; }
:-ms-input-placeholder { color:#0c981d; }

.ilev1s_but{ display: block; width: 108px; height: 38px; border:1px solid #18ff3a; text-align: center; line-height: 38px; font-size: 22px; color: #fcff13; background: #0c981d; margin-left: 18px; }
.indextit{ display: block; height: 96px; padding-top: 60px; background: url(../images/bg_t.png) no-repeat center; text-align: center; font-size: 12px; color: #066213; text-transform: uppercase; line-height: 1.2; }
.indextit b{ font-size: 28px; color: #24fd3e; display: block; }
.indexinfomation{ padding-bottom: 30px; }
.indexinfomation table{ margin-bottom: 20px; }
.indexinfomation table tr th,
.indexinfomation table tr td{ height: 36px; color: #f3f60e; border:1px solid #033c0c; text-align: center; }
.indexinfomation table tr th.t1{ text-align: left; text-indent: 56px; }
.indexinfomation table tr th{ font-weight: normal; background: #022908; }
.inlev1desc{ display: block; line-height: 30px; line-height: 30px; font-size: 16px; color: #f3f60e; }
.indexlev2{ height: 838px; overflow: hidden; background: url(../images/bg_lev3.jpg) no-repeat center; border-top:1px solid #02440c; border-bottom: 1px solid #02440c;  }
.ilev2left{ width: 392px; padding-left: 32px; padding-top: 30px; font-size: 16px; color: #0ba123; line-height: 26px; }
.ilev2left p.cyellow{ display: block; padding-top: 14px; line-height: 30px; }
.ilev2right{ width: 520px; padding-right: 32px; margin-top: 54px; }
.ilev2right table{}
.ilev2right table tr th,
.ilev2right table tr td{ height: 41px; line-height: 41px; color: #f3f60e; text-align: center; border:1px solid #033c0c; }
.ilev2right table tr th{ background: #022908; font-weight: normal; font-size: 16px; }
.ilev2right table tr td.ilev2r_info{ line-height: 26px; padding:24px 20px; text-align: left; }
.indexinfomation{ line-height: 28px; color: #0aa421; padding-bottom: 50px; }
.footer{ height: 68px; line-height: 68px; text-align: center ;color: #066112; background: #000f02; }
.footer a{ color: #066112; }
.footer a:hover{ color: #fffd1f; }

a {
	text-decoration: none
}
.loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 99999
}
.loadingfa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 29px;
	color: #444;
	position: absolute;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	top: 50%
}
.animteeh {
	opacity: .2;
	transition: all ease 1.5s;
	-webkit-transition: all ease 1.5s;
	-moz-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
	transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-ms-transform: translateY(100px);
	-o-transform: translateY(100px)
}
.animteeh.active {
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0)
}
.animts {
	opacity: .2;
	transition: all ease 1.5s;
	-webkit-transition: all ease 1.5s;
	-moz-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
	transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-ms-transform: translateY(100px);
	-o-transform: translateY(100px)
}
.active .animts {
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0)
}
@keyframes rotate {
from {
-webkit-transform:rotate(0)
}
to {
	-webkit-transform: rotate(360deg)
}
}
@-webkit-keyframes rotate {
from {
-webkit-transform:rotate(0)
}
to {
	-webkit-transform: rotate(360deg)
}
}
@-moz-keyframes rotate {
from {
-moz-transform:rotate(0)
}
to {
	-moz-transform: rotate(360deg)
}
}
@-ms-keyframes rotate {
from {
-ms-transform:rotate(0)
}
to {
	-ms-transform: rotate(360deg)
}
}
@-o-keyframes rotate {
from {
-o-transform:rotate(0)
}
to {
	-o-transform: rotate(360deg)
}
}
@keyframes rotate1 {
from {
-webkit-transform:rotate(0)
}
to {
	-webkit-transform: rotate(-360deg)
}
}
@-webkit-keyframes rotate1 {
from {
-webkit-transform:rotate(0)
}
to {
	-webkit-transform: rotate(-360deg)
}
}
@-moz-keyframes rotate1 {
from {
-moz-transform:rotate(0)
}
to {
	-moz-transform: rotate(-360deg)
}
}
@-ms-keyframes rotate1 {
from {
-ms-transform:rotate(0)
}
to {
	-ms-transform: rotate(-360deg)
}
}
@-o-keyframes rotate1 {
from {
-o-transform:rotate(0)
}
to {
	-o-transform: rotate(-360deg)
}
}
.xuanzhuan {
	animation: 2s linear 0s normal forwards infinite rotate;
	-webkit-animation: 2s linear 0s normal forwards infinite rotate;
	-moz-animation: 2s linear 0s normal forwards infinite rotate;
	-o-animation: 2s linear 0s normal forwards infinite rotate
}
.xuanzhuan1 {
	animation: 5s linear 0s normal forwards infinite rotate;
	-webkit-animation: 5s linear 0s normal forwards infinite rotate;
	-moz-animation: 5s linear 0s normal forwards infinite rotate;
	-o-animation: 5s linear 0s normal forwards infinite rotate
}
.nizhuan {
	animation: 2s linear 0s normal forwards infinite rotate1;
	-webkit-animation: 2s linear 0s normal forwards infinite rotate1;
	-moz-animation: 2s linear 0s normal forwards infinite rotate1;
	-o-animation: 2s linear 0s normal forwards infinite rotate1
}
.nizhuan1 {
	animation: 3s linear 0s normal forwards infinite rotate1;
	-webkit-animation: 3s linear 0s normal forwards infinite rotate1;
	-moz-animation: 3s linear 0s normal forwards infinite rotate1;
	-o-animation: 3s linear 0s normal forwards infinite rotate1
}
@keyframes Updown {
0% {
transform:translateY(30px);
-webkit-transform:translateY(30px);
-moz-transform:translateY(30px);
-ms-transform:translateY(30px);
-o-transform:translateY(30px)
}
100% {
transform:translateY(0);
-webkit-transform:translateY(0);
-moz-transform:translateY(0);
-ms-transform:translateY(0);
-o-transform:translateY(0)
}
}
.shangxia {
	animation: 1.4s 0s alternate none infinite running Updown
}
.yaohuan {
	animation: 2.4s 0s alternate none infinite running swing
}
.yaohuan1 {
	animation: 9.4s 0s alternate none infinite running swing
}
.flash {
	animation: 2.4s 0s alternate none infinite running flash
}
.wobble {
	animation: 20.4s 0s alternate none infinite running wobble
}
.dtable {
	display: table;
	width: 100%;
	height: 100%
}
.dcell {
	display: table-cell;
	vertical-align: middle
}
.shangxia1 {
	animation: 2.4s 0s alternate none infinite running Updown
}
.shangxia2 {
	animation: 2.9s 0s alternate none infinite running Updown
}
.shangxia3 {
	animation: 3.4s 0s alternate none infinite running Updown
}
.shangxia4 {
	animation: 2.5s 0s alternate none infinite running Updown
}
.shangxia5 {
	animation: 3.3s 0s alternate none infinite running Updown
}
.shangxia6 {
	animation: 2.4s 0s alternate none infinite running Updown
}
.shangxia7 {
	animation: 2.6s 0s alternate none infinite running Updown
}
.df {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}
.dc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}
.flex1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.ac {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.as {
	-webkit-box-align: justify;
	-webkit-align-items: space-between;
	-ms-flex-align: justify;
	align-items: space-between
}
.ae {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end
}
.jc {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}
.js {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.je {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.fww {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap
}
.layerbx {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 50;
}
.wen11 {
	color: #adadad;
}
.layerbxin {
	width: 800px;
	margin: 0 auto;
	background: #000b02;
	border: 1px solid #eac352;
	min-height: 400px;
	position: relative;
	top: 100px;
	border-radius: 6px;
	overflow: hidden;
}
.layertou {
	height: 40px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #111;
	padding: 0px 10px;
	background: #eac352;
}
.layertou-1 {
	font-size: 18px;
}
.laucnt2-1 {
	font-size: 16px;
	padding: 12px 0px;
	color: #fff;
}
.laucnt2-2 {
	max-height: 500px;
	overflow-y: auto;
}
.layertou-2 img {
	display: block;
}
.layercont {
	padding: 30px;
}
.tabtb {
	width: 100%;
}
.tabtb td {
	border: 1px solid #9e844a;
	color: #fff;
	height: 40px;
	text-align: center;
}
.tabtb tr:first-child td {
	color: #181818;
	background: #ffd773;
}
.zuowenis {
	float: left;
	width: 527px;
}
.youtblea {
	float: right;
	width: 438px;
}
.shida {
	padding: 22px 0px;
}
.foot {
	color: #979797;
	padding: 22px 0px;
	text-align: center;
	background: #1b1b1b;
}
.niapoz {
	padding: 12px 0px;
}


body .layui-layer-demo{
  background:none;
  box-shadow: 0px 0px 0px #000;
}


.table {
	width: 100%;
	margin: 15px 0;
	border-collapse: collapse;
	border-spacing: 0;
	z-index: 888
}
.table tr td {
	height: 42px;
	border: 1px solid #323232;
	text-align: center;
	color: #fefeff;
	font-size: 16px;
}
.table tr th {
	height: 42px;
	border: 1px solid #ee0101;
	border-right: 1px solid #b40113;
	text-align: center;
	color: #fefeff;
	font-size: 16px;
	font-weight: normal;
	background: #ee0101
}
.table tr th.last {
	border-right: 1px solid #ee0101;
}

.biaotou td{
  background:#FC00FF;
}