@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 *
 * v2.0 | 20110126
 *
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;
   * font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  /* margin-left:30px; */
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.top_area, section {
  zoom: 1;
}
.top_area:before, section:before {
  content: "";
  display: table;
}
.top_area:after, section:after {
  content: "";
  display: table;
  clear: both;
}

/********** GLOBAL */
@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?35747607");
  src: url("../font/fontello.eot?35747607#iefix") format("embedded-opentype"), url("../font/fontello.woff2?35747607") format("woff2"), url("../font/fontello.woff?35747607") format("woff"), url("../font/fontello.ttf?35747607") format("truetype"), url("../font/fontello.svg?35747607#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
.iconfont {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-align: center;
}

.icon-phone:before { content: '\e801'; }
.icon-promotion_fill:before { content: '\e802'; }
.icon-promotion_stroke:before { content: '\e803'; }
.icon-qq:before { content: '\e804'; }
.icon-recharge:before { content: '\e805'; }
.icon-register:before { content: '\e806'; }
.icon-register_fill:before { content: '\e807'; }
.icon-register_stroke:before { content: '\e808'; }
.icon-reward:before { content: '\e809'; }
.icon-roulette:before { content: '\e80a'; }
.icon-search:before { content: '\e80b'; }
.icon-service:before { content: '\e80c'; }
.icon-vip:before { content: '\e80d'; }
.icon-wechat:before { content: '\e80e'; }
.icon-app:before { content: '\e80f'; }
.icon-arena:before { content: '\e810'; }
.icon-cancel:before { content: '\e811'; }
.icon-contact_fill:before { content: '\e812'; }
.icon-contact_stroke:before { content: '\e813'; }
.icon-detection_fill:before { content: '\e814'; }
.icon-detection_stroke:before { content: '\e815'; }
.icon-dl_fill:before { content: '\e816'; }
.icon-dl_stroke:before { content: '\e817'; }
.icon-gotop:before { content: '\e818'; color: #957149;}
.icon-home_fill:before { content: '\e819'; }
.icon-home_stroke:before { content: '\e81a'; }
.icon-loading:before { content: '\e81b'; }
.icon-member:before { content: '\e81c'; }
.icon-mg:before { content: '\e81d'; }
.icon-news:before { content: '\e81e'; margin-right: 0.5em;}

body {
  font-family: sans-serif, Arial, "Microsoft YaHei", "微軟雅黑體", "微软雅黑体";
  color: #fff;
  font-size: 14px;
  line-height: 2;
  background-color: #44161a;
}

#mainHeader {
  background: linear-gradient(to top, #0b0404, #3e1418);
  -moz-box-shadow: 0px 0px 10px 0px #333;
  -webkit-box-shadow: 0px 0px 10px 0px #333;
  -ms-box-shadow: 0px 0px 10px 0px #333;
  -o-box-shadow: 0px 0px 10px 0px #333;
  box-shadow: 0px 0px 10px 0px #333;
}

h1 {
  text-indent: -9999px;
  width: auto;
  height: auto;
  float: left;
}
h1 a {
  display: block;
  text-decoration: none;
  background: url("../images/logo_light.png");
  width: 280px;
  height: 85px;
}

h2 {
  background: url("../images/dark_h2.png") no-repeat center center;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  padding: 2% 0;
  margin-bottom: 1.8%;
}
h2 span {
  background: linear-gradient(-45deg, #e6c283 100%, #f9ea95 100%, #e6cc77 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2.h2_inquiry {
  background: none;
}
h2.h2_inquiry span {
  background: linear-gradient(-45deg, #e6c283 100%, #f9ea95 100%, #e6cc77 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top_area {
  border-bottom: 1px solid #c79846;
  padding-bottom: 1%;
}
.top_area .top {
  background: url("../images/dark-red_bg_top.png");
  width: 700px;
  height: 54px;
  float: right;
  text-align: center;
  line-height: 54px;
  color: #eee;
}

nav {
  width: 960px;
  margin: 0 auto;
}
nav li {
  display: inline-block;
  font-size: 18px;
  padding: 1% 3.5%;
  margin: 0 -2px;
  background: url("../images/nav_gold.png") no-repeat right center;
}
nav li:last-child {
  background: none;
}
nav li:hover {
  background-color: none;
}
nav a {
  color: #eee;
  text-decoration: none;
  display: inline-block;
  line-height: 200%;
  padding: 0 0.5em;
}
nav a:hover {
  color: #fddd89;
}

.banner {
  background: url("../images/banner.jpg");
  width: 1920px;
  height: 500px;
  width: 100%;
}

.news {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #552f32;
  background-color: #110607;
  color: #eee;
}
.news div {
  line-height: 45px;
}
.news span {
  color: #fcb91a;
  float: left;
}
.news marquee {
  width: 80%;
}

a:hover {
  color: #fddd89;
}

ol {
  list-style: decimal;
}
ol li p {
  color: #fff;
}

strong {
  font-weight: 400;
  font-size: 22px;
}

.emph {
  color: #fddd89;
}

.emph2 {
  color: #f4a07a;
}

.emph3 {
  color: #fcb91a;
}

/********** LAYOUT */
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

section {
  padding: 3% 0;
}

.wrap {
  background-color: #110607;
  width: 100%;
  border-top: 1px solid #552f32;
  border-bottom: 1px solid #552f32;
}

#inquiry {
  background: url("../images/dark-red_bg_query.png");
  width: 832px;
  height: 259px;
  margin: -2px auto 0;
  position: relative;
}
#inquiry div {
  margin: 0 auto;
  width: 480px;
  position: relative;
}
#inquiry #searchtext {
  position: absolute;
  color: #faedbb;
  border: 1px solid #c79846;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #0e0e0e url("../images/dark_icon_id.png") no-repeat 10px center;
  width: 480px;
  height: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  padding: 1.2em 1em 1.2em 2.5em;
}
#inquiry button {
  position: absolute;
  right: 0;
  width: 139px;
  height: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  border: 0;
  background: transparent url("../images/dark_button.png") no-repeat center center;
  color: #1f1f1f;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

table {
  margin: 2em auto;
}

table, th, td {
  border-collapse: collapse;
  vertical-align: middle;
  text-align: center;
}
table th, table td, th th, th td, td th, td td {
  border: 1px solid #000;
  padding: 0.6em 0.8em;
}
table th, th th, td th {
  background-color: #413922;
  color: #eee;
  white-space: nowrap;
}
table td, th td, td td {
  background-color: #1d1d1d;
  color: #bfbfbf;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

footer {
  background-color: #110607;
  border-top: 1px solid #552f32;
  text-align: center;
  line-height: 3em;
  padding: 1em 0;
  color: #888;
}

#goUp {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #110607;
  border: 1px solid #957149;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  border-radius: 10%;
  width: 34px;
  height: 34px;
  line-height: 34px;
  display: none;
}
