body{
    background-image: url(../img/bg-pattern.svg),-webkit-radial-gradient(10% 0, farthest-side ellipse, #3E3D31 20%, #B88A6B);
    background-size:cover;
    background-attachment: fixed, fixed;
    color:#FFF;
}
.nav-side-menu li a, .nav-side-menu{
    color: #F2C6A7; 
}
.row>div:not(.nostyle), .blockbg, .myfieldset, table:not(.havebg) {
    background: rgba(99,85,62,0.325);
}