body{
    background-image: url(../img/bg-pattern.svg),-webkit-radial-gradient(10% 0, farthest-side ellipse, #435060 20%, #94a3b1);
    background-size:cover;
    background-attachment: fixed, fixed;
    color:#FFF;
}
.nav-side-menu li a, .nav-side-menu{
    color: #e1ffff; 
}
.row>div:not(.nostyle), .blockbg, .myfieldset, table:not(.havebg) {
    background: rgba(51,51,51,0.325);
}