body{
    margin:0;
    padding:0;
    font-family: '微軟正黑體';
}
header{
    width:100%;
    height:54px;
    line-height: 54px;
    position: fixed;
    top:0;
    left:0;
    z-index:999;
}
header img,
header .inline, 
header .inline div{
    display: inline-block;
    margin:0 10px;
    vertical-align: top;
}
.left{
    float:left;
}
.right{
    float:right;
}
.fas, .far{
    margin:0 5px;
}