body{
    font-family: "微軟正黑體" !important;
}
main{
    width:calc( 100% - 150px );
    position: relative;
    left:150px;
    padding:20px;
    overflow-x: hidden;
    color:#FFF;
    margin-top:54px;
}
.row>div:not(.nostyle){
    border-radius:5px;
    box-shadow:0 8px 5px rgba(0,0,0,.25);
    background:rgba(225,225,225,.2);
    margin:15px;
}

.piestyle{
    border-radius:5px;background:rgba(225,225,225,.2);padding:0 15px;
}

.piestyle:nth-child(4){
    padding-right: 0 !important;
}

.padT14{
    padding-top:14px;
}
.padT14 h6{
    font-weight:bold;
}

.user{
    border-top:0.5px solid #CCC;
    border-bottom:0.5px solid #CCC;
    padding:10px;
}
.user img, .user div{
    display:inline-block;
    margin:0 5px;
    vertical-align: middle;
}
input{
    background:transparent;
    border:none;
    color:rgba(225,225,225,0.6);
}

ul.task{
    list-style-type: circle;
    list-style-position: inside;
    padding:0;
}
ul.task li{
    margin:10px 0;
    padding:10px 0 10px 20px;

    width:100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
ul.task li:hover{
    background:linear-gradient(to right, rgba(225,225,225,0.6), transparent)
}
/*去除百度地图logo*/
.anchorBL{
    display:none;
}
.pieimg{
    display:inline-block;
    text-align:right;
    line-height:112px;
    vertical-align:top;
}