main{
    width:calc( 100% - 150px );
    position: relative;
    left:150px;
    padding-top:10px;
    overflow-x: hidden;
    margin-top:54px;
    min-height:calc( 100vh - 54px );
    
}

h6,footer{
    padding-left: 10px;
}
iframe{
    padding:10px;
}
.content-darkblue{
    background:#4c5e72;
    padding:10px;
    border-radius:5px 5px 0 0;
}
.content-white{
    background:#FFF;
    padding:10px;
    border-radius:0 0 5px 5px;
    border:1px solid #a5a5a5;
}
.content-white>table tr{
    line-height:35px;
}
.content-white table tr:nth-child(odd) {
    background:#fff ;
}
.content-white table tr:nth-child(even) {
    background:#f9f9f9;
}
.btn-sm-self{
    margin:5px;
    font-size:0.83rem;
    padding:.25rem .2rem;
    letter-spacing:2px;
    font-weight: 100 !important;
}
.inlineTitle{
    display: inline-block;
    padding:5px 10px;
    vertical-align: middle;
}
.tableinline{
    display: inline-block;
    vertical-align: middle;
    margin:5px;
    padding:0 8px;
    border-radius:5px;
    font-size:0.9em;
}
.inlineInput{
    line-height:28px;
    vertical-align: middle;
}
.layer, .content-white>table tr th, .td_center{
    text-align:center;
}
.content-white>table tr th, .content-white>table tr td{
    padding-left: 7px;
    padding-right: 7px;
}
.td_right{
    text-align:right;
}
 .layer table tr td, .layer table tr th{
    padding:10px;   
    background: #fff; 
}
.layer table input[type="text"], .layer table input[type="password"], .layer table select[name="periodName"]{
    width:420px;
    padding:5px;
}
footer{
    font-size:0.8em;
    padding:5px;
}
a{
    cursor: pointer;
}
.fas{
    margin-left:5px;
}
.progress{
    margin:5px 0;
}