.popover__title {
  font-size: 24px;
  line-height: 36px;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
  position: relative;
  cursor:pointer;
}

.popover__content {
    display: none;
    position: absolute;
    background-color: #BFBFBF;
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: 16px;
    color:#000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    min-width: 300px;

    z-index: 10;
    opacity: 1;
    left:50%;
    transform: translateX(-50%);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    border-radius:20px;
}
.popover__content:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #BFBFBF transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__message {
  text-align: center;
  background:#FFF;
  border-radius:10px;
  padding:5px;
  margin-bottom:7px;
}