
body{  
    margin:0;
    padding:0;
}
.centercell{
    text-align:center;
    margin-top:calc( 50vh - 200px );
    margin-left:auto;
    margin-right:auto;
    width:500px;
}
form{
    display: inline-block;
    width:500px;
    padding:30px 0;
    box-shadow: 6px 6px 6px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
}
p{
    color:#AAA;
    width:100%;
    height:60px;
    margin:10px 0;
}
.btn{
    border-radius:5px;
    background:green;
    color:#FFF;
    display: inline-block;
    padding:7px 10px;
    margin:15px;
    
}
input{
    width:75%;
    height:26px;
    margin:10px 0;
}
a{
    display: inline-block;
    margin:10px;
}