body{
    background:#f5f5f5;
    color:#716f72;
}
header{
    background:#FFF;
}
.nav-side-menu li a, .nav-side-menu{
    color: #e1ffff; 
    background-color: #2e353d;
}
.row>div:not(.nostyle), .blockbg, .myfieldset, table:not(.havebg) {
    background:rgba(225,225,225,.2);
}