﻿<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>WAP</title>
<link rel="shortcut icon" href="../images/ico.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="app.png">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/jquery.mmenu.css" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/vue.css">
<link rel="stylesheet" href="css/iconfont.css">
<script type="text/javascript" src="js/flexible.js"></script>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery.mmenu.js"></script>
<script type="text/javascript" src="../layer/layer.js"></script>
<meta name="viewport" content="width=540, user-scalable=0">
<style>
input[type='text'] {
  font-size: 16px;
}
</style>
</head>
<body>
<div id="container">
		<div class="loading">
				<span class="loadingfa xuanzhuan"><em class="fa fa-spinner"></em></span>
		</div>

<!--[if lt IE 8]>
<p class="browserupgrade">当前浏览器版本太低,建议升级道最新版本</p>
<![endif]-->
<div id="page">
<div class="header">
	<a class="menu" href="#menu"><img src="images/menu.png" alt=""></a><a href="./index.html" class="logo"><img src="images/logo.png" alt=""></a>
  <a href="#" class="img"><img src="images/h_img.png" alt=""></a>
</div>
<div class="gonggao">
	<div class="title"><img src="images/img01.png" alt="">最新消息:</div>
	<div class="gundong"><marquee direction="left" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()">888集团全球最领先线上娱乐【官方</marquee></div>
</div>
<div class="vip">
	<ul class="inputul">
		<li><input type="text" id="username" value="" placeholder="请输入您的会员账号" v-model="username"></li>
		<li><input type="image" class="vipbtn" id="searchbtn" src="images/btn.png" @click="query"></li>
	</ul>

<div class="footer" style="background-color: transparent;"> 
	<p>COPYRIGHT &copy; 888集团 版权所有 RESERVED</p>
</div>	
</div>

<div class="fNavi">
	<ul>
		<li><a href="#" target="_blank"><img src="images/img08.png" alt=""><p>首页</p></a></li>
		<li><a target="_blank" href="http://www.888jtapp.com/"><img src="images/img10.png" alt=""><p>APP安装</p></a></li>
		<li><a target="_blank" href="https://www.hd888.am/"><img src="images/img09.png" alt=""><p>活动办理</p></a></li>
		<li>
		<a target="_blank" href="https://messenger3.providesupport.com/messenger/0p54kily722cm1ub4z6namrn0r.html"><img src="images/img11.png" alt=""><p>在线客服</p></a></li>
	</ul>
</div>
</div>

<nav id="menu">
	<ul>
		<li><a target="_blank" href="https://www.888xianlu.com/"><span><i class="iconfont ft1"><img src="images/float_01.png" alt=""></i></span>网站首页</a></li>
		<li><a target="_blank" href="https://www.hd888.am/"><span><i class="iconfont"><img src="images/float_03.png" alt=""></i></span>优惠大厅</a></li>
		<li><a target="_blank" href="http://m.60184747.com:5678"><span><i class="iconfont ft0"><img src="images/float_04.png" alt=""></i></span>会员注册</a></li>
		<li>
		<a target="_blank" href="https://messenger3.providesupport.com/messenger/0p54kily722cm1ub4z6namrn0r.html"><span><i class="iconfont"><img src="images/float_05.png" alt=""></i></span>在线客服</a></li>
		<li><a target="_blank" href="http://www.888jtapp.com/"><span><i class="iconfont"><img src="images/float_06.png" alt=""></i></span>手机APP下载</a></li>
		<li><a href="#" target="_blank"><span><i class="iconfont"><img src="images/float_07.png" alt=""></i></span>VIP俱乐部</a></li>
	</ul>
</nav>


<!-- vue -->
<link href="libs/style/font-awesome.min.css" rel="stylesheet">
  <div class="layerbx" style="z-index:999;display:block;" v-show="layerid==1"> 
    <div class="layerbxin">
      <div class="layertou">
          <div class="layertou-1">查询中心</div>
          <div class="layertou-2 close" @click="layerid=-1" ><img src="../images/cha.png" alt=""></div>
      </div>
      <div class="layercont"> 
        <div class="laucnt2-1">您当前账号信息：</div>
        <div class="laucnt2-2"> 
            <table class="tabtb">
                <tr class="touth">
                  <td>会员帐号</td>
                  <td>当前<br/>等级</td>
                  <td>累计<br/>总投注额</td>
                  <td>累计<br/>晋级彩金</td>
                  <td>累计<br/>周周礼金</td>
                  <td>累计<br/>月月俸禄</td>              
                  <td>距离晋级还需投注金额</td>
                </tr>
                <tr>
                  <td>{{up.username}}</td>
                  <td>{{up.lv}}</td>
                  <td>{{up.money_total}}</td>
                  <td>{{up.reward_total}}</td>
                  <td>{{up.rewardw}}</td>
                  <td>{{up.rewardm }}</td>
                  <td>{{up.distance}}</td>
                </tr>
              </table>
        </div>
        <div class="laucnt2" v-if="typeof weeksum !== 'undefined' && weeksum !== 0" style="table-layout:fixed"> 
            <div class="laucnt2-1">周统计：</div>
            <div class="laucnt2-2"> 
              <table class="tabtb">
                <tr class="touth">
                  <td>会员帐号</td>
                  <td>当期投注金额</td>
                  <td>晋级彩金</td>
                  <td>周周礼金</td>                
                  <td>周期名称</td>
                </tr>
                <tr v-for="item in rowW">
                  <td>{{item.username}}</td>
                  <td>{{item.week_total}}</td>
                  <td>{{item.upreward}}</td>
                  <td>{{item.week_reward}}</td>
                  <td>{{item.name}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="laucnt2">
                <div style="float:right;">
                    <span v-for="p in pageW" class="pagination">
                      <label :for="'h'+p" class="page-item" :class="[(p == currentPageW)?'active':'', ((p == '>') ||(p =='<'))?'bordernone':'']">{{p}}</label>
                      <input type="radio" style="display:none" v-model="((p == '>') ||(p =='<'))?'':currentPageW" @click="clickPageW" :value="p" :id="'h'+p">
                    </span>
                    <span class="laucnt2-1" >共{{weeksum}}条记录</span>
                </div> <br/>
            </div>
          <div class="laucnt2" v-if="typeof monthsum !== 'undefined' && monthsum !== 0"  style="table-layout:fixed"> 
            <div class="laucnt2-1">月统计：</div>
            <div class="laucnt2-2"> 
              <table class="tabtb">
                <tr class="touth">
                  <td>会员帐号</td>
                  <td>当月投注金额</td>
                  <td>月月俸禄</td>                
                  <td>投注周期</td>
                </tr>
                <tr v-for="item in rowM">
                  <td>{{item.username}}</td>
                  <td>{{item.month_total}}</td>
                  <td>{{item.month_reward}}</td>
                  <td>{{item.name}}</td>
                </tr>
              </table>
            </div>
          </div>	
          <div class="laucnt2"> 
                <div style="float:right;">
                  <span v-for="p in pageM" class="pagination">
                        <label :for="'m'+p" class="page-item" :class="[(p == currentPageM)?'active':'', ((p == '>') ||(p =='<'))?'bordernone':'']">{{p}}</label>
                        <input type="radio" style="display:none" v-model="((p == '>') ||(p =='<'))?'':currentPageM" @click="clickPageM" :value="p" :id="'m'+p">
                      </span>
                      <span class="laucnt2-1" >共{{monthsum}}条记录</span>
                  </div> <br/><br/>
            </div>
      </div>
    </div>
  </div>
</div>



<div class="layers" style="display:none;"><a class="" href="#" target="_blank"><img alt="" src="../images/zhuce.jpg" width="500px" height="auto" style="display:block;" /></a></div>

</div>
<script src="libs/layer/layer.js"></script> 

<script src="libs/script/polyfill.min.js"></script> 
<script src="libs/script/vue.min.js"></script> 
<script src="libs/script/vue-resource.min.js"></script>
<script src="../script/vuejs-mb.js" type="text/javascript"></script> 


<script>
	$(function () {
		var $menu = $('nav#menu'), $html = $('html, body');
		$menu.mmenu({ dragOpen: true });
	});
</script>

<style type="text/css">
  body .layui-layer-demo{
    background:none;
    box-shadow: 0px 0px 0px #000;
  }
  body .layui-layer,body .layui-layer-shade{
    overflow:visible;
  }
  
</style>
 
 <script src="/Public/static/vip/libs/layer/layer.js"></script>
  <script type="text/javascript">
  $("#searchbtn").click(function(){
      var username = $('#username').val();
       
      if(!username){
        layer.msg('请填写会员账号',{icon: 2})
        return false;
      }
      var url = "/index.php?s=/Home/Index/layer.html"+'&user_name='+username;
      layer.open({
        type: 2,
        skin: 'layui-layer-demo', 
        area:['95%','90%'],
        anim: 2,
        title:"",
        shadeClose: true, 
        content: url
      });
    });
</script>
</body>
</html>