@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 *
 * v2.0 | 20110126
 *
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;
   * font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  padding-bottom: 2.4rem; 
}

.mainArea {
  display: flex;
  justify-content: space-between;
}

.mainWrap {
  margin: 0 auto;
  width: 100%;
}

ol, ul {
  list-style: none;
  /* margin-left:30px; */
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  zoom: 1;
}
section:before {
  content: "";
  display: table;
}
section:after {
  content: "";
  display: table;
  clear: both;
}

/********** GLOBAL */
@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?35747607");
  src: url("../font/fontello.eot?35747607#iefix") format("embedded-opentype"), url("../font/fontello.woff2?35747607") format("woff2"), url("../font/fontello.woff?35747607") format("woff"), url("../font/fontello.ttf?35747607") format("truetype"), url("../font/fontello.svg?35747607#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
.iconfont {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-align: center;
}

.icon-phone:before { content: '\e801'; }
.icon-promotion_fill:before { content: '\e802'; }
.icon-promotion_stroke:before { content: '\e803'; }
.icon-qq:before { content: '\e804'; }
.icon-recharge:before { content: '\e805'; }
.icon-register:before { content: '\e806'; }
.icon-register_fill:before { content: '\e807'; }
.icon-register_stroke:before { content: '\e808'; }
.icon-reward:before { content: '\e809'; }
.icon-roulette:before { content: '\e80a'; }
.icon-search:before { content: '\e80b'; }
.icon-service:before { content: '\e80c'; }
.icon-vip:before { content: '\e80d'; }
.icon-wechat:before { content: '\e80e'; }
.icon-app:before { content: '\e80f'; }
.icon-arena:before { content: '\e810'; }
.icon-cancel:before { content: '\e811'; }
.icon-contact_fill:before { content: '\e812'; }
.icon-contact_stroke:before { content: '\e813'; }
.icon-detection_fill:before { content: '\e814'; }
.icon-detection_stroke:before { content: '\e815'; }
.icon-dl_fill:before { content: '\e816'; }
.icon-dl_stroke:before { content: '\e817'; }
.icon-gotop:before { content: '\e818'; color: #957149;}
.icon-home_fill:before { content: '\e819'; }
.icon-home_stroke:before { content: '\e81a'; }
.icon-loading:before { content: '\e81b'; }
.icon-member:before { content: '\e81c'; }
.icon-mg:before { content: '\e81d'; }
.icon-news:before { content: '\e81e'; margin-right: 0.5em;}

body {
  font-family: sans-serif, Arial, "Microsoft YaHei", "微軟雅黑體", "微软雅黑体";
  color: #fff;
  font-size: 14px;
  line-height: 2;
  background-color: #44161a;
}

#mainHeader {
  background: linear-gradient(to top, #0b0404, #3e1418);
  -moz-box-shadow: 0px 0px 10px 0px #333;
  -webkit-box-shadow: 0px 0px 10px 0px #333;
  -ms-box-shadow: 0px 0px 10px 0px #333;
  -o-box-shadow: 0px 0px 10px 0px #333;
  box-shadow: 0px 0px 10px 0px #333;
  border-bottom: 1px solid #c79846;
  padding-bottom: 1%;
}

h1 {
  text-indent: -9999px;
  width: auto;
  height: auto;
  float: left;
}
h1 a {
  display: block;
  text-decoration: none;
  background: url("../images/logo_light.png") center no-repeat;
  background-size: contain;
  width: 5rem;
  height: 1.4rem;
}

h2 {
  background: url("../images/dark_h2.png") no-repeat center center;
  background-size: contain;
  font-size: .5rem;
  font-weight: 400;
  text-align: center;
  padding: .05rem 0;
  margin-bottom: 1.8%;
}
h2 span {
  background: linear-gradient(-45deg, #e6c283 100%, #f9ea95 100%, #e6cc77 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2.h2_inquiry {
  background: none;
}
h2.h2_inquiry span {
  background: linear-gradient(-45deg, #e6c283 100%, #f9ea95 100%, #e6cc77 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top_area {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  vertical-align: middle;
}
.top_area .top {
  /* width: 130px;   */
  line-height: .6rem;
  text-align: center;
  color: #eee;
  font-size: .4rem;
}

nav {
  position: fixed;  
  z-index: 20;
  bottom: 0;
  width: 100%;
  background-color: #281110;
  border-top: 1px solid rgba(230, 194, 131, .3);
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav i {
  font-size: .6rem;
  color: #E6C283;
}

nav li {
  text-align: center;
  display: inline-block;
  width: calc(100% / 4);
}
nav li:nth-child(even) {
  background: #110607;
}
nav li:hover {
  background-color: none;
}
nav a {
  color: #eee;
  text-decoration: none;
  display: inline-block;
  font-size: .3rem;
  padding: .3rem .5rem;
}
nav a:hover {
  color: #fddd89;
}

.banner img {
  width: 100%;
}

.news {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #552f32;
  background-color: #110607;
  color: #eee;
  margin: -9px auto 0;
}
.news div {
  line-height: 45px;
}
.news span {
  color: #fcb91a;
  float: left;
  margin-right: 1%;
}
.news marquee {
  width: 65%;
  /* width: 11rem; */
}

a:hover {
  color: #fddd89;
}

ol {
  list-style: decimal;
  margin-left: 4%;
}
ol li p {
  color: #fff;
}

strong {
  font-weight: 400;
  font-size: 22px;
}

.emph {
  color: #fddd89;
}

.emph2 {
  color: #f4a07a;
}

.emph3 {
  color: #fcb91a;
}

/********** LAYOUT */
.wrapper {
  width: 96%;
  margin: 0 auto;
}

section {
  padding: 3% 0;
}

.wrap {
  background-color: #110607;
  width: 100%;
  border-top: 1px solid #552f32;
  border-bottom: 1px solid #552f32;
}

#inquiry {
  background: url("../images/dark-red_bg_query.png") center top no-repeat;
  background-size: contain;
  width: 96%;
  height: 3.5rem;
  margin: -2px auto 0;
  position: relative;
}
#inquiry div {
  margin: 0 auto;
  width: 7rem;
  height: 2rem;
  position: relative;
}
#inquiry #searchtext {
  position: absolute;
  color: #faedbb;
  border: 1px solid #c79846;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #0e0e0e url("../images/dark_icon_id.png") no-repeat 10px center;
  width: 7rem;
  height: .8rem;
  -moz-border-radius: 8rem;
  -webkit-border-radius: 8rem;
  -ms-border-radius: 8rem;
  -o-border-radius: 8rem;
  border-radius: 8rem;
  padding: 0 1em 0 2.5em;
}
#inquiry button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 2.1rem;
  height: .8rem;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
  border: 0;
  background: transparent url("../images/dark_button.png") no-repeat center center;
  background-size: contain;
  color: #1f1f1f;
  font-size: .3rem;
  font-weight: 600;
  cursor: pointer;
}

table {
  margin: 2em auto;
  font-size: .25rem;
  width: 100%;
}

th, td {
  border-collapse: collapse;
  vertical-align: middle;
  text-align: center;

}
table th {
  border: 1px solid #000;
  padding: 0.1rem 0;
  background-color: #413922;
  color: #eee;
  word-break: break-all;
}

table td {
  background-color: #1d1d1d;
  color: #bfbfbf;
  padding: 0.1rem 0;
}

footer {
  background-color: #110607;
  border-top: 1px solid #552f32;
  text-align: center;
  line-height: 3em;
  padding: 1em 0;
  color: #888;
  margin-top: .5rem;
}

#goUp {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #110607;
  border: 1px solid #957149;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  border-radius: 10%;
  width: 34px;
  height: 34px;
  line-height: 34px;
  display: none;
}

.text-orange {
  color: #f7a942;
}


/* menu */
#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  overflow: visible;  
  z-index: 50;
  position: relative;
  top: .4rem;
  color: #f5f5f5;
  line-height: 27px;
}

#burger-menu span, #burger-menu span:before, #burger-menu span:after {
  background: #fff;
  display: block;
  height: 3px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before, #burger-menu span:after {
  content: "";
}

#burger-menu span {
  right: 0px;
  top: 13px;
  width: 25px;
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 25px;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 25px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}

#burger-menu.close span:after {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  width: auto;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  display: none;
  opacity: 0;
  padding-top: 0;
  transition: all 0.3s ease-in-out;
}

#menu i {
  color: #E6C283;
  margin-right: .5em;
}

#menu.overlay {
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 10;
  display: block;
}

#menu ul {
  background-color: #44161A;
  padding: .1rem;
}

#menu li {
  border-top: 1px solid #66242a;
  display: block;
}

#menu li:first-child {
  border-top: none;
}

#menu ul li a {
  display: block;
  width: 250px;
  text-decoration: none;  
  color: #fff;
  font-size: 1.3em;
  margin: 1px auto;
  padding: .6em 0 .6em .5em;
  white-space: nowrap;
}

#menu ul li span {
  display: none;
}