body{ background:#000;font-family:Arial,Helvetica,sans-serif;}
img { width: 100%;}
.header{ height:1.2rem;  color:#fff;   width:100%; text-align:center; position:fixed; top:0; z-index: 999;background-color: #000;padding: 0.17rem 0.2rem 0; box-sizing: border-box;}
.header .menu { display: block; width: 0.62rem; position: absolute; left: 0.29rem; top: 0.35rem;}
.header .logo{ display: block; width:2.75rem;margin: 0 auto;}
.header .img { width: 1.38rem; position: absolute; right: 0.28rem; top: 0.2rem;}
/* 幻灯片相关 */
.swiper-container {width: 100%;margin:0 auto; position: relative;overflow:hidden;z-index:1;padding-top:1.2rem; }
.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}
.swiper-slide img{display: block;width: 100%;}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10;bottom: 0;width: 100%}
.swiper-pagination-bullet{width:.3rem;height:.3rem;display:inline-block;border-radius:100%;background: rgba(255,255,255,0.5);margin-left:.1rem;margin-right:.1rem}
.swiper-pagination-bullet-active{opacity:1;background:#fff100}

.mm-menu li {
	font-size: 0.35rem;
	color: #fff;
}
.mm-menu li a {
	font-size: 0.35rem;
	padding-left: 1rem;
}
.mm-menu li a .iconfont img {
	vertical-align: middle;
	width: 0.8rem;
} 
.mm-menu li span {
	margin-right: 13px;
}
.mm-menu .mm-list > li::after {
    border-color: rgba(54, 43, 43, 1);
}

/* 滚动公告 */
.gonggao{height: 1.1rem; border-bottom: 1px solid #1E1E1E;border-top: 1px solid #1E1E1E;margin-top: 1.2rem;}
.gonggao .title{margin: 0.3rem 0.1rem 0 0.4rem;color: #fff; font-size: 0.37rem; width: 2.6rem; height: 0.8rem; line-height: 0.5rem;float: left; display: block;}
.gonggao .title img {display: block;float: left; width:0.62rem;margin: -0.06rem 0.2rem 0 0;}
.gonggao .title span.ico01{ font-size: 0.55rem;}
.gonggao .gundong{color: #fff; font-size: 0.37rem; overflow: hidden;line-height: 1.1rem}
/* VIP */
.vip{background: url(../images/bg01.jpg) no-repeat center top; background-size: 100% auto;width: 10rem; margin:0 auto;overflow: hidden;
padding: 8rem 0 2rem;}
.vip .logoimg{background: url(../images/title.png) no-repeat; width:5.56rem;height:1.08rem;background-size: cover;margin: 0 auto;margin-top:8.1rem;}
body#vip .footer { margin-top: 0.6rem;}
.inputul{max-width: 8.6rem;margin: 0 auto 0.5rem;}
.inputul li.ttl { text-align: center;font-size: 0.5rem;color: #fff;font-weight: bold; margin-bottom: 0.15rem;}
.inputul li{margin-bottom: 0.28rem;height: 1.08rem;line-height: 1.08rem;position: relative;}
.inputul li input{height: 1.08rem;width:8.6rem; color: #202020;font-size: 0.32rem;border-radius: 0.08rem;border:1px solid #EBCE65; text-align: center;background: #fff;}
.inputul li input::-webkit-input-placeholder{color:#202020;}
.inputul li input::-moz-placeholder{color:#202020;opacity:1;}
.inputul li input:-moz-placeholder{color:#202020;opacity:1;}
.inputul li .codeimg{width: 1.84rem;height: 0.72rem;position: absolute;right: 0.2rem;top: 50%;margin-top: -0.36rem;}
.inputul li .btn1{width: 8.6rem;height: 1.08rem;background: #ffcf2e;border-radius: 0.08rem;border:none;color: #3e3000;font-size: 0.4rem;font-weight: bold;cursor: pointer; float: left;}
.inputul li .btn2{width: 3.8rem;height: 1.08rem;background: #365070;border-radius: 0.08rem;border:none;color: #fff;font-size: 0.4rem;font-weight: bold;cursor: pointer;float: right;}
.inputul li .detail{font-size: 0.32rem;color: #fff;text-decoration: underline;}
.inputul li.center{text-align: center;height: 0.54rem;line-height:0.54rem;}
.inputul li .vipbtn,.inputul li .yxbbtn,.inputul li .qdbtn{width:8.6rem;height: 1.08rem;background: #FABC37;border-radius: 0.08rem;border:none;color: #3e3000;font-size: 0.4rem;font-weight: bold;cursor: pointer; float: left;}


.tccon{background:#42400f; border:1px solid #42400f; width:8.6rem; height:auto;padding:0.56rem 0; border-radius:0.15rem; display: none; position:relative;overflow:hidden;margin: 0 auto;}
.tccon h2{color: #ffffa0;font-size:0.4rem;text-align: center;background: url(../images/tctitle.png) no-repeat; background-size: cover; width: 5.306667rem; height: 0.333333rem;line-height: 0.333333rem;margin: 0 auto; margin-bottom: 0.5rem}
.tccon p{line-height: 1.36rem;height: 1.36rem;margin-left:0.64rem;}
.tccon p input{ width:6.84rem; height:0.933333rem; border:none; border-radius:0.12rem; background: #fff;text-align: left;color: #1e1e1f;font-size:0.4rem;padding-left:0.333333rem}
.tccon p input::-webkit-input-placeholder{color:#1e1e1f;}
.tccon p input::-moz-placeholder{color:#1e1e1f;opacity:1;}
.tccon p input:-moz-placeholder{color:#1e1e1f;opacity:1;}
.tccon p .yzmimg{position: relative;margin-left:-1.8rem; width:1.546667rem; height: 0.666667rem; vertical-align:middle;}
.tccon p select{ width:7.14rem; height:0.94333rem;color: #1e1e1f;font-size: 14px; padding-left:0.333333rem; border:none; border-radius:0.12rem;}
.tccon p select option{}
.tccon .subbtn{background: url(../images/subbtn.png) no-repeat; background-size: cover;width:7.146667rem; height:0.946667rem;line-height:0.906667rem; cursor: pointer; color: #5d2c0b; font-size: 0.4rem;text-align: center;border: none;padding:0; font-weight:bold;}
.closebtn{background: url(../images/close.png) no-repeat; background-size: cover; width:0.666667rem; height:0.666667rem;position: absolute;right:0px;top:0px; display: block; cursor: pointer;}

.menuUl {
	margin: 0 20px 10px;
	overflow: hidden;
	zoom: 1;
}
.menuUl li {
	margin-right: 4%;
	width:48%;
	float: left;
}
.menuUl li img {
	width: 100%;
}
.menuUl li:last-child {
	margin-right: 0;
}


.fBox {
	margin: 0 auto 0.2rem;
	padding-bottom: 2rem;
	width: 7.8rem;
}
.fBox p {
	margin-bottom: 0.15rem;
	position: relative;
	color: #fff;
	font-size: 0.35rem;
	text-align: center;
}
.fBox p:before {
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	top: 50%;
	background: #3C3C3C;
	content: "";
}
.fBox p span {
	padding: 0 0.35rem;
	position: relative;
	z-index: 1;
	display: inline-block;
	background: #000;
}
.fBox ul {
	margin: 0 -0.12rem;
	overflow: hidden;
	zoom: 1;
}
.fBox li {
	padding: 0 0.15rem;
	width: 33.3%;
	float: left;
	box-sizing: border-box;
}

.fNavi {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 55;
	background-color: #0F0F0F;
	overflow: hidden;
	zoom: 1;
}
.fNavi li {
	float: left;
	width: 25%;
	text-align: center;
}
.fNavi li a {
	padding:10px 0;
	color: #fff;
	font-size: 0.35rem;
	display: block;
	border-right: 1px solid #333;
}
.fNavi li:last-child a {
	border: none;
}
.fNavi li img {
	display: block;
	margin: 0 auto 0.1rem;
	width: auto;
	height: 0.8rem;
}
.footer {
	text-align: center;
	color: #fff;
}



a {
	text-decoration: none
}
.loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 99999
}
.loadingfa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 29px;
	color: #444;
	position: absolute;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	top: 50%
}
.animteeh {
	opacity: .2;
	transition: all ease 1.5s;
	-webkit-transition: all ease 1.5s;
	-moz-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
	transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-ms-transform: translateY(100px);
	-o-transform: translateY(100px)
}
.animteeh.active {
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0)
}
.animts {
	opacity: .2;
	transition: all ease 1.5s;
	-webkit-transition: all ease 1.5s;
	-moz-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
	transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-ms-transform: translateY(100px);
	-o-transform: translateY(100px)
}
.active .animts {
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0)
}
@keyframes rotate {
from {
-webkit-transform:rotate(0)
}
to {
	-webkit-transform: rotate(360deg)
}
}
@-webkit-keyframes rotate {
from {
-webkit-transform:rotate(0)
}
to {
	-webkit-transform: rotate(360deg)
}
}
@-moz-keyframes rotate {
from {
-moz-transform:rotate(0)
}
to {
	-moz-transform: rotate(360deg)
}
}
@-ms-keyframes rotate {
from {
-ms-transform:rotate(0)
}
to {
	-ms-transform: rotate(360deg)
}
}
@-o-keyframes rotate {
from {
-o-transform:rotate(0)
}
to {
	-o-transform: rotate(360deg)
}
}
@keyframes rotate1 {
from {
-webkit-transform:rotate(0)
}
to {
	-webkit-transform: rotate(-360deg)
}
}
@-webkit-keyframes rotate1 {
from {
-webkit-transform:rotate(0)
}
to {
	-webkit-transform: rotate(-360deg)
}
}
@-moz-keyframes rotate1 {
from {
-moz-transform:rotate(0)
}
to {
	-moz-transform: rotate(-360deg)
}
}
@-ms-keyframes rotate1 {
from {
-ms-transform:rotate(0)
}
to {
	-ms-transform: rotate(-360deg)
}
}
@-o-keyframes rotate1 {
from {
-o-transform:rotate(0)
}
to {
	-o-transform: rotate(-360deg)
}
}
.xuanzhuan {
	animation: 2s linear 0s normal forwards infinite rotate;
	-webkit-animation: 2s linear 0s normal forwards infinite rotate;
	-moz-animation: 2s linear 0s normal forwards infinite rotate;
	-o-animation: 2s linear 0s normal forwards infinite rotate
}
.xuanzhuan1 {
	animation: 5s linear 0s normal forwards infinite rotate;
	-webkit-animation: 5s linear 0s normal forwards infinite rotate;
	-moz-animation: 5s linear 0s normal forwards infinite rotate;
	-o-animation: 5s linear 0s normal forwards infinite rotate
}
.nizhuan {
	animation: 2s linear 0s normal forwards infinite rotate1;
	-webkit-animation: 2s linear 0s normal forwards infinite rotate1;
	-moz-animation: 2s linear 0s normal forwards infinite rotate1;
	-o-animation: 2s linear 0s normal forwards infinite rotate1
}
.nizhuan1 {
	animation: 3s linear 0s normal forwards infinite rotate1;
	-webkit-animation: 3s linear 0s normal forwards infinite rotate1;
	-moz-animation: 3s linear 0s normal forwards infinite rotate1;
	-o-animation: 3s linear 0s normal forwards infinite rotate1
}
@keyframes Updown {
0% {
transform:translateY(30px);
-webkit-transform:translateY(30px);
-moz-transform:translateY(30px);
-ms-transform:translateY(30px);
-o-transform:translateY(30px)
}
100% {
transform:translateY(0);
-webkit-transform:translateY(0);
-moz-transform:translateY(0);
-ms-transform:translateY(0);
-o-transform:translateY(0)
}
}
.shangxia {
	animation: 1.4s 0s alternate none infinite running Updown
}
.yaohuan {
	animation: 2.4s 0s alternate none infinite running swing
}
.yaohuan1 {
	animation: 9.4s 0s alternate none infinite running swing
}
.flash {
	animation: 2.4s 0s alternate none infinite running flash
}
.wobble {
	animation: 20.4s 0s alternate none infinite running wobble
}
.dtable {
	display: table;
	width: 100%;
	height: 100%
}
.dcell {
	display: table-cell;
	vertical-align: middle
}
.shangxia1 {
	animation: 2.4s 0s alternate none infinite running Updown
}
.shangxia2 {
	animation: 2.9s 0s alternate none infinite running Updown
}
.shangxia3 {
	animation: 3.4s 0s alternate none infinite running Updown
}
.shangxia4 {
	animation: 2.5s 0s alternate none infinite running Updown
}
.shangxia5 {
	animation: 3.3s 0s alternate none infinite running Updown
}
.shangxia6 {
	animation: 2.4s 0s alternate none infinite running Updown
}
.shangxia7 {
	animation: 2.6s 0s alternate none infinite running Updown
}
.df {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}
.dc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}
.flex1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.ac {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.as {
	-webkit-box-align: justify;
	-webkit-align-items: space-between;
	-ms-flex-align: justify;
	align-items: space-between
}
.ae {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end
}
.jc {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}
.js {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.je {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.fww {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap
}
.layerbx {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 50;
  font-size:14px;
}
.wen11 {
	color: #adadad;
}
.layerbxin {
	width: 600px;
	margin: 0 auto;
	background: #000b02;
	border: 1px solid #eac352;
	min-height: 400px;
	position: relative;
	top: 100px;
	border-radius: 6px;
	overflow: hidden;
}
.layertou {
	height: 40px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #111;
	padding: 0px 10px;
	background: #eac352;
}
.layertou-1 {
	font-size: 18px;
}
.laucnt2-1 {
	font-size: 16px;
	padding: 12px 0px;
	color: #fff;
}
.laucnt2-2 {
	max-height: 500px;
	overflow-y: auto;
}
.layertou-2 img {
	display: block;
}
.layercont {
	padding: 30px;
}
.tabtb {
	width: 100%;
}
.tabtb td {
	border: 1px solid #9e844a;
	color: #fff;
	height: 40px;
	text-align: center;
}
.tabtb tr:first-child td {
	color: #181818;
	background: #ffd773;
}
.zuowenis {
	float: left;
	width: 527px;
}
.youtblea {
	float: right;
	width: 438px;
}
.shida {
	padding: 22px 0px;
}
.foot {
	color: #979797;
	padding: 22px 0px;
	text-align: center;
	background: #1b1b1b;
}
.niapoz {
	padding: 12px 0px;
}


